<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://download4.caiyun.feixin.10086.cn/storageWeb/servlet/downloadServlet?code=SzUwazExV3QzTzQwZGIwOTcxN3JtOUNic2VK&un=F5885DD4EBB586AA30C272814CA1293801A324812F89FBE88DCB3DF8D2C139C2&dom=D971&rate=0&txType=0</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://gitee.com/umpay/down/raw/master/</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://gitee.com/umpay/down/raw/master/</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.umpay.UpayPersonalIphone</string>
				<key>bundle-version</key>
				<string>2.9.1</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>联动秘书</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
