<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://download4.caiyun.feixin.10086.cn/storageWeb/servlet/downloadServlet?code=SzEwazExV3QzTzQwZGI0NDkxN3JuZTZ4bjVZ&amp;un=087F8054A414B7032F5206CE9DCFD8EB1B2CC7952F8D8A9854AD1873CBD4AB80&amp;dom=D970&amp;rate=0&amp;txType=0</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://xuyan618.github.io/appdownload/</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://xuyan618.github.io/appdownload/</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.umfintech.merchant.upos</string>
				<key>bundle-version</key>
				<string>2.9.4</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>联动优POS</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
