<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://web.feejii.com/a5f401cdfb535ff4f6b85f118816d192/1683720668/files/2023/05/10/5/3637485/21504243301339274?filename=%E8%81%94%E5%8A%A8%E4%BC%98POS.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://xuyan618.github.io/appdownload/</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://xuyan618.github.io/appdownload/</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.umfintech.merchant.upos</string>
				<key>bundle-version</key>
				<string>2.9.4</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>联动优POS</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
