<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://download4.caiyun.feixin.10086.cn/storageWeb/servlet/downloadServlet?code=S0QwazExV3QzTzQwZGIxMDExN3RycUpJY2w3&amp;un=AFB6C445C498D39A3AEE7A4857B5F73236A869C984B835E12599AF68FF0A4875&amp;dom=D972&amp;rate=0&amp;txType=0</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://www.baidu.com</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://www.baidu.com</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.ldpos.xlsk</string>
				<key>bundle-version</key>
				<string>1.1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>小联收款</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
